@tailwind base;
@tailwind components;
@tailwind utilities;

#PricingCards .one-features ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 1rem;
  width: 100%;
}

#PricingCards .one-features ul li {
  position: relative;
}

#PricingCards .one-features ul li::before {
  content: url("../images/Icons/check-service-list.svg");
  position: absolute;
  top: 0;
  left: -30px;
  width: 24px;
  height: 24px;
}

#PricingCards .two-price {
  padding-left: 15px;
}

#PricingCards .two-price ul {
  list-style: none;
}

#PricingCards .two-price ul li {
  position: relative;
}

#PricingCards .two-price ul li::before {
  content: url("../images/Icons/check-icon.svg");
  position: absolute;
  top: 0;
  left: -30px;
  width: 24px;
  height: 24px;
}

#PricingCard {
  width: 33%;
}

#PricingCards #PricingCard:nth-child(2) {
  width: 588px;
  --tw-border-opacity: 1;
  border-color: rgba(6, 95, 70, 1);
  margin-left: -5px;
  margin-right: -5px;
  z-index: 10;
}

#PricingCards #PricingCard:nth-child(2) .cta a {
  background: #111827;
  color: white;
}

#PricingCard ul {
  list-style: circle;
}

#PricingCard ul li {
  text-align: left;
}

.tracking-wider {
  letter-spacing: 2px;
}

#PricingCards .most-popular::before {
  content: "MOST POPULAR";
  position: absolute;
  padding-top: 2px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2px;
  background-color: rgba(6, 95, 70, 1);
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-size: 14px;
  border-radius: 40px;
}

#PricingCard:nth-child(2)
  .block.w-full.text-center.rounded-lg.border.border-gray-900.bg-white.px-6.py-3.text-base.font-medium.text-gray-900.hover\:bg-gray-50 {
  background-color: #111827;
  color: white;
}

#PricingCard:not(:nth-child(2)) {
  max-width: 445px;
}

.rich-text ul {
  list-style: disc;
}

.contact-details ul {
  margin: 0;
}

.contact-details ul li {
  margin: 0;
}

p a {
  color: #34d399;
  text-decoration: underline;
}

html {
  background-color: #fff !important;
}

.iframe-holder {
  position: relative;
  padding-top: 56.25%;
}

.iframe-holder #iframeID {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 1023px) {
  #PricingCards #PricingCard,
  #PricingCards #PricingCard:nth-child(2) {
    width: unset;
    min-width: 280px;
  }

  #PricingCards {
    flex-flow: column;
  }
}

@media (min-width: 1024px) {
  #PricingCard:not(:nth-child(2)) {
    min-width: 300px;
  }

  #PricingCard:nth-child(2) {
    min-width: 320px;
  }
}

@media (max-width: 768px) {
  #PricingCards #PricingCard {
    margin-bottom: 25px;
  }

  #PricingCards #PricingCard:nth-child(2) {
    width: 90%;
  }

  #PricingCards #PricingCard {
    width: 85%;
    min-width: 280px;
  }
}

@media (max-width: 575px) {
  #PricingCards #PricingCard:nth-child(2),
  #PricingCards #PricingCard {
    width: 100%;
  }
}
